html {
  scroll-behavior: smooth;
}

body {
 
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
  background-image: url("../../../public/assets/backgrounds/background-main.png");
  color: var(--text-color);
}

header, footer{
  backdrop-filter: blur(1px);
}